footer {
  background-color: black;
  color: white;
}
.first-line {
  border-bottom: 1px solid #392d23;
}

.second-line a {
  color: white;
  text-decoration: none;
}

nav {
  padding: 2rem !important;
}
.third-line {
  border-top: 1px solid #392d23;
  display: none;
}

@media screen and (max-width: 48rem) {
  .first-line {
    text-align: center;
  }

  .second-line {
    padding: 0 2rem;
  }

  .third-line {
    display: block;
  }
}
